<h3>Welcome, <%=@user.username%></h3>

<h4>Games owned:</h4>
  <% @user.games.each do |game| %>
    <li><a href="games/<%=game.id%>"><%= game.title %></a>, <%= game.year %></li>
    <% end %>
<br></br>

<a href="/games/new">Add a game</a> 

<a href="/logout">Log out</a>

