<h3>Add a Game</h4>
  <form action="/games" method="POST">
    <label>Title: <input type="text" name="title">
      <br></br>
    <label>Year: <input type="text" name="year">
      <br></br>
      <input type="submit" value="Add Game">
  </form>